@use "../../../styles.scss" as *; // Importe le fichier contenant les variables

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: rgba(255, 255, 255, 0.8); /* Couche translucide sur le fond */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}
.containerInfo {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  background: rgba(255, 255, 255, 0.8); /* Couche translucide sur le fond */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.cardInformation {
  max-width: 46%;
  height: 100%;
  .image{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  
  }
}
.cardInformation > * {
  margin-bottom: 1.5%;
}
.cardInformation > *:last-child {
  margin-bottom: 0;
}

.introduction{
  max-width: 90%;
}

.petit{
  width: 49%;
}

.moyen{
  width: 70%;
}

.grand{
  width: 90%;
}

img{
  width: 100%;
}

/* Fond d'écran de la page */
:host {
  display: block;
  min-height: 100vh; /* S'étend sur toute la hauteur */
  background-position: center; /* Centrer l'image */
  background-attachment: fixed; /* L'image reste fixe au défilement */
  background-repeat: no-repeat; /* Pas de répétition */

}

.mat-card {
  padding: 20px;
  background: white;
  opacity: 0.95; /* Légèrement translucide */
}

.tech-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  mat-chip {
    font-size: 1rem;
  }
}


.card-title{
  background-color: $portfolio-primary;

}

// Téléphone
@media (max-width: 768px) {
  .cardInformation {
    max-width: 85%;
  }
}