@use "../../../styles.scss" as *; // Importe le fichier contenant les variables

.container {
  max-width: 75%;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: rgba(255, 255, 255, 0.8); /* Couche translucide sur le fond */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #1c1c1c;
}
.mdc-list-item {
  --mdc-list-list-item-label-text-color: #1c1c1c; 
}

mat-chip {
  background-color: $portfolio-accent !important;
}

mat-card{
  background-color: #EEEEEE;
}

mat-card-content{ 
  text-align: justify;
}

.containerInfo {
  max-width: 80%;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  color: #1c1c1c;
  background: rgba(255, 255, 255, 0.8); /* Couche translucide sur le fond */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.cardInformation {
  max-width: 46.5%;
  height: 100%;
  .image{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  
  }
}
.cardInformation > * {
  margin-bottom: 1.5%;
}
.cardInformation > *:last-child {
  margin-bottom: 0;
}

.introduction{
  max-width: 95%;
}

.tres-petit{
  width: 25%;
}

.petit{
  width: 49%;
}

.moyen{
  width: 70%;
}

.grand{
  width: 90%;
}

img{
  width: 100%;
  margin-bottom: 5px;
  border-radius: 3%;
}

/* Fond d'écran de la page */
:host {
  display: block;
  min-height: 100vh; /* S'étend sur toute la hauteur */
  background-position: center; /* Centrer l'image */
  background-attachment: fixed; /* L'image reste fixe au défilement */
  background-repeat: no-repeat; /* Pas de répétition */

}

.mat-card {
  padding: 20px;
  background: white;
  opacity: 0.95; /* Légèrement translucide */
}

.tech-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  mat-chip {
    font-size: 1rem;
  }
}


.card-title{
  background-color: $portfolio-accent;
  color: white;
  font-weight: 2000;
}

// Téléphone
@media (max-width: 768px) {
  .cardInformation {
    max-width: 100%;
  }
}