<app-title title="{{project.title}}"></app-title>
  
<div class="container" [ngStyle]="{ 'background-image': 'url(' + project.image + ')' }">
<mat-card>
    <mat-card-header>
    <mat-card-title>À propos du projet</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    {{ project.description}}
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
    <mat-card-title>Mon rôle</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    <mat-list>
        <mat-list-item class="test" *ngFor="let item of project.roleItems">{{ item }}</mat-list-item>
    </mat-list>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title>Technologies utilisées</mat-card-title>
    </mat-card-header>

    <mat-card-content>
    <div class="tech-list">
        <mat-chip-listbox>
                <mat-chip *ngFor="let item of project.technologies">{{ item }}</mat-chip>
        </mat-chip-listbox>
    </div>
    </mat-card-content>

</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title>Résultats obtenus</mat-card-title>
    </mat-card-header>

    <mat-card-content>
    <mat-list>
        <mat-list-item *ngFor="let item of project.results">{{ item }}</mat-list-item>
    </mat-list>
    </mat-card-content>
</mat-card>

</div>
<div class="containerInfo">
    
    <ng-container *ngFor="let item of project.information">
        <mat-card [class]="item.class " class="cardInformation"   >
            
            <mat-card-header class="card-title">
                <mat-card-title >{{ item.title }}</mat-card-title>
            </mat-card-header>
    
            <mat-card-content>
                {{ item.content }}
            </mat-card-content>
            <div class="image">
                <img [class]="item.size" *ngIf="item.image" mat-card-image [src]="item.image" [alt]="item.image">
                <img [class]="item.size" *ngIf="item.image2" mat-card-image [src]="item.image2" [alt]="item.image2">
            </div>
            
            
            <mat-card-content>
                {{ item.content2 }}
            </mat-card-content>
            <div class="image">
                <img [class]="item.size" *ngIf="item.image3" mat-card-image [src]="item.image3" [alt]="item.image3">
            </div>
    </mat-card>
    </ng-container>
    
        

</div>


<mat-toolbar color="primary" class="footer">
    <span>&copy; 2025 Romain Meyer</span>
</mat-toolbar>
