@use "../styles.scss" as *;

.main{
    width: 100%;
    height: 100%;
    background-color: #ececec;
}


.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 205px;
    background-color: #ececec;
    height: 100%;

    .space{
        margin-top: 20px;
    }
}

.navbarButton{
    font-size: 23px;
    margin: 8px 0;
    width: 90%;
    height: 40px;
    border-radius: 10px;
}

img{
    border-radius: 40%;
}


.menu-button {
    position: fixed;
    top: 30px;
    z-index: 1000;
    right: 2%;
    background-color: $portfolio-primary;
}
  