<mat-drawer-container class="main">
  <mat-drawer mode="side" opened>

    <div class="navbar">
      <a routerLink="/profil" class="space"><img src="/assets/photoProfil.jpg" alt="Photo Romain Meyer" height="150" width="150" priority></a>
      <a mat-stroked-button color="primary" routerLink="/profil" class="navbarButton">Qui suis-je ?</a>
      <a mat-stroked-button color="primary" routerLink="/projets" class="navbarButton">Mes projets</a>
      <a mat-stroked-button color="primary" routerLink="/competences" class="navbarButton">Compétences</a>
    </div>

  </mat-drawer>

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
  
</mat-drawer-container>