<app-title title="Profil"></app-title>


  <header>
    <div class="container">
      <div class="profile-info">
        <h1>Romain MEYER</h1>
        <h2>Développeur</h2>
        <p>Adresse : 3 Allée du stade, Lachapelle Sous Rougemont</p>
        <p>Email : romain.meyer.fkpt-gmail.com</p>
        <p>Téléphone : +33 6 12 34 56 78</p>
      </div>
    </div>
  </header>

  <section class="skills">
    <h2>Compétences</h2>
    <ul>
      <li>HTML / CSS</li>
      <li>JavaScript / TypeScript</li>
      <li>Angular</li>
      <li>Git / GitHub</li>
      <li>Node.js</li>
    </ul>
  </section>

  <section class="experience">
    <h2>Expérience professionnelle</h2>
    <div class="job">
      <h3>Développeur Web | Clemessy</h3>
      <p>Septembre 2023 - Septembre 2025</p>
      <p>Développement d'une IA avec Yolo8 pour compter des véhicule sur les aires de repos.</p>
      <p>Développement de fonctionnalités full-stack avec Angular et SpringBoot.</p>
    </div>
    <div class="job">
      <h3>Développeur Junior | Agence ABC</h3>
      <p>Juin 2018 - Décembre 2019</p>
      <p>Participation au développement de sites web et applications pour des clients divers.</p>
    </div>
  </section>

  <section class="education">
    <h2>Formation</h2>
    <div class="education-item">
      <h3>Bachelor Universitaire de Technologie | Université de Nord Franche Compté</h3>
      <p>2022 - 2025</p>
    </div>
    <div class="education-item">
      <h3>Licence en Informatique | Université de Lyon</h3>
      <p>2013 - 2016</p>
    </div>
  </section>

  <footer>
    <p>&copy; 2024 Votre Nom - Tous droits réservés</p>
  </footer>
