@use "../../../styles.scss" as *; // Importe le fichier contenant les variables

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 16px;
  }

.card {
  width: 30%;
  background-color: #dfdfdf;
  color: #1c1c1c;
  height: 100%;
}

mat-card-title{
  font-size: 30px;
  font-weight: 500;
  background-color: $portfolio-accent;
  color: white;
}

mat-card-subtitle {
  font-size: 20px;
  font-weight: 500;
  color: #1c1c1c;
  margin-top: 15px;
}

.subCompetences{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}


mat-card-content{ 
  text-align: justify;
}

mat-toolbar{
  margin-top: 4.5%;
}


// Téléphone
@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 85%;
    margin-bottom: 30px;
  }
}