// styles.scss

@use '@angular/material' as mat;
@use './theme' as *; // Import du fichier theme.scss

// Inclure les styles communs de base d'Angular Material
@include mat.core();

// Ajouter des styles globaux
html, body { 
  height: 100%; 
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
