@use '@angular/material' as mat;

// Définition des palettes personnalisées

// Définition des palettes pour le thème
$portfolio-primary: mat.define-palette(mat.$cyan-palette);
$portfolio-accent: mat.define-palette(mat.$green-palette);
$portfolio-warn: mat.define-palette(mat.$red-palette);

// Création du thème
$portfolio-theme: mat.define-light-theme(
  (
    color: (
      primary: $portfolio-primary,
      accent: $portfolio-accent,
      warn: $portfolio-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0
  )
);

// Inclure les thèmes pour chaque composant Angular Material
@include mat.all-component-themes($portfolio-theme);
